.title {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Acme;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.title span {
    color: #01DFFF;
    font-family: Acme;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.title .subtitle {
    color: #FFF;
    font-family: Acme;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}