@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Fugaz+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Russo+One&display=swap');

.footer div h2 {
    font-family: "Fugaz One", sans-serif;
    font-size: 15px; 
    color: whitesmoke; 
    text-shadow: 1px 1px 2px #000000; 
    font-weight: 300; 
    font-style: normal;
    text-transform: uppercase;
}

.footer p {
    font-family: "Fugaz One", sans-serif;
    font-size: 15px; 
    color: whitesmoke; 
    text-shadow: 1px 1px 2px #000000; 
    font-weight: 300; 
    font-style: normal;
    text-transform: uppercase;
}

/* Estilos para tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    .footer div h2, .footer p {
        font-size: 18px; /* Tamaño de fuente más grande para tablets */
    }
}

/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
    .footer div h2, .footer p {
        font-size: 14px; /* Tamaño de fuente más pequeño para móviles */
        text-shadow: 0.5px 0.5px 1px #000000; /* Sombra de texto más ligera para mejor legibilidad */
    }
}